In [102]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
import math

from sklearn.linear_model import LinearRegression

In [68]:
df= pd.read_csv("Black Friday Prediction\\train.csv")

In [69]:
df_sub =pd.read_csv("Black Friday Prediction\\sample_submission_V9Inaty.csv")

In [70]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [71]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [72]:
df['Product_Category_2'].fillna(df['Product_Category_2'].median(), inplace = True)

In [73]:
def map_gender(gender):
    if gender == 'M':
        return 1
    else:
        return 0
df['Gender'] = df['Gender'].apply(map_gender)

In [74]:
def map_age(age):
    if age == '0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '51-55':
        return 5
    else:
        return 6
df['Age'] = df['Age'].apply(map_age)

In [75]:
def map_city_categories(city_category):
    if city_category == 'A':
        return 2
    elif city_category == 'B':
        return 1
    else:
        return 0
df['City_Category'] = df['City_Category'].apply(map_city_categories)

In [76]:
def map_stay(stay):
        if stay == '4+':
            return 4
        else:
            return int(stay)
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].apply(map_stay)

In [79]:
cols = ['Product_Category_3']
df.drop(cols, inplace = True, axis =1)

In [80]:
df.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Purchase
0,0,0,10,2,2,0,3,9.0,8370
1,0,0,10,2,2,0,1,6.0,15200
2,0,0,10,2,2,0,12,9.0,1422
3,0,0,10,2,2,0,12,14.0,1057
4,1,6,16,0,4,0,8,9.0,7969

In [15]:
lr = LinearRegression(normalize = True)

In [81]:
x = df.drop(['Purchase'], axis=1)
y = df['Purchase']
x.shape, y.shape

((550068, 8), (550068,))

In [82]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 56)

In [83]:
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [84]:
train_predict = lr.predict(train_x)
k = mean_absolute_error(train_predict, train_y)
print('Training Mean Absolute Error', k )

Training Mean Absolute Error 3588.2612750346157

In [85]:
test_predict = lr.predict(test_x)
k = mean_absolute_error(test_predict, test_y)
print('Test Mean Absolute Error    ', k )

Test Mean Absolute Error     3596.549967809834

In [86]:
df_test= pd.read_csv("Black Friday Prediction\\test.csv")

In [87]:
df_test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [88]:
df_test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [89]:
df_test['Product_Category_2'].fillna(df_test['Product_Category_2'].median(), inplace = True)

In [90]:
def map_gender(gender):
    if gender == 'M':
        return 1
    else:
        return 0
df_test['Gender'] = df_test['Gender'].apply(map_gender)

In [91]:
def map_age(age):
    if age == '0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '51-55':
        return 5
    else:
        return 6
df_test['Age'] = df_test['Age'].apply(map_age)

In [92]:
def map_city_categories(city_category):
    if city_category == 'A':
        return 2
    elif city_category == 'B':
        return 1
    else:
        return 0
df_test['City_Category'] = df_test['City_Category'].apply(map_city_categories)

In [93]:
def map_stay(stay):
        if stay == '4+':
            return 4
        else:
            return int(stay)
df_test['Stay_In_Current_City_Years'] = df_test['Stay_In_Current_City_Years'].apply(map_stay)

In [94]:
df_test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,1,4,7,1,2,1,1,11.0,NaN
1,1000009,P00113442,1,2,17,0,0,0,3,5.0,NaN
2,1000010,P00288442,0,3,1,1,4,1,5,14.0,NaN
3,1000010,P00145342,0,3,1,1,4,1,4,9.0,NaN
4,1000011,P00053842,0,2,1,0,1,0,4,5.0,12.0

In [95]:
cols = ['User_ID','Product_ID','Product_Category_3']
df_test.drop(cols, inplace = True, axis =1)

In [96]:
df_test.isnull().sum()

Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
dtype: int64

In [97]:
Test_file_predict = lr.predict(df_test)

In [98]:
Test_file_predict

array([11269.29617945, 10974.8102214 ,  8776.03500897, ...,
       10920.47808083,  7090.82468748,  9838.53381536])

In [105]:
Predict_ = []
for i in Test_file_predict:
    resu = math.floor(i)
    Predict_.append(resu)

In [106]:
Predict_

[11269,
 10974,
 8776,
 9486,
 9977,
 11638,
 11587,
 11579,
 6859,
 8827,
 11552,
 9471,
 9529,
 9529,
 6832,
 10769,
 5170,
 9407,
 8570,
 11645,
 9497,
 11578,
 11883,
 10984,
 8903,
 8727,
 11545,
 11545,
 10867,
 10809,
 9079,
 9372,
 9489,
 11160,
 3345,
 9323,
 8480,
 11085,
 10168,
 7099,
 11149,
 10631,
 12358,
 6859,
 8112,
 8605,
 4948,
 8584,
 10365,
 8658,
 8092,
 9236,
 9424,
 12136,
 12136,
 12136,
 10976,
 6838,
 11120,
 10440,
 10909,
 5001,
 8622,
 11287,
 11463,
 10928,
 10459,
 11377,
 5470,
 10909,
 9571,
 9618,
 9959,
 11689,
 8914,
 9424,
 11271,
 6647,
 11137,
 11078,
 11798,
 8228,
 9579,
 8385,
 8678,
 11079,
 8095,
 8989,
 9349,
 7626,
 9045,
 8858,
 6359,
 11842,
 9046,
 7500,
 10776,
 10424,
 7839,
 10588,
 9537,
 11208,
 11618,
 8283,
 8953,
 7942,
 9488,
 8176,
 8990,
 8814,
 5596,
 8873,
 8536,
 7683,
 7800,
 7683,
 9667,
 8551,
 6462,
 9218,
 7962,
 7002,
 11239,
 11590,
 8965,
 9141,
 10189,
 6143,
 6553,
 6319,
 9104,
 9388,
 10290,
 12002,
 6886,
 9666,
 10925,
 11878,
 8543,
 8132,
 5207,
 8960,
 9176,
 8817,
 10962,
 8209,
 6061,
 11338,
 6983,
 8120,
 11763,
 11411,
 10943,
 7175,
 11472,
 10944,
 6766,
 7843,
 7509,
 9114,
 9325,
 7830,
 11633,
 11338,
 9375,
 11109,
 11109,
 10004,
 10750,
 9384,
 11402,
 12344,
 8231,
 8571,
 10668,
 9407,
 9407,
 9866,
 7450,
 10660,
 7567,
 9567,
 11356,
 11762,
 9408,
 10896,
 10640,
 8598,
 11340,
 6589,
 8502,
 7783,
 8278,
 9459,
 9041,
 6409,
 9908,
 8244,
 8336,
 12097,
 9012,
 9305,
 5552,
 9699,
 9039,
 12053,
 11873,
 9275,
 9434,
 9124,
 9959,
 10717,
 8628,
 9895,
 11473,
 11708,
 8520,
 7786,
 6298,
 8563,
 7725,
 11236,
 7430,
 10909,
 9461,
 10619,
 8575,
 11149,
 9578,
 11158,
 9839,
 10942,
 6933,
 9090,
 9149,
 8935,
 11171,
 6303,
 9054,
 7332,
 6301,
 11373,
 10904,
 9542,
 9789,
 8870,
 10651,
 9163,
 8031,
 7163,
 7398,
 11803,
 5152,
 6882,
 10506,
 4657,
 6738,
 9546,
 9136,
 11159,
 10150,
 9453,
 8743,
 10348,
 9094,
 10641,
 11000,
 9220,
 9161,
 9651,
 11829,
 10456,
 8133,
 8551,
 9873,
 9522,
 11475,
 8629,
 10784,
 10986,
 8346,
 8858,
 9223,
 7559,
 8872,
 6913,
 6923,
 10918,
 8800,
 11174,
 10354,
 10940,
 8303,
 7541,
 9228,
 8693,
 10127,
 10244,
 6359,
 5949,
 8192,
 11102,
 5267,
 8610,
 11856,
 8345,
 10419,
 11289,
 12007,
 6630,
 10360,
 11381,
 10102,
 6333,
 11794,
 11259,
 11618,
 11443,
 9557,
 9821,
 9044,
 11126,
 7690,
 9220,
 9304,
 9245,
 9245,
 7640,
 5551,
 10917,
 11791,
 10546,
 11114,
 9600,
 8506,
 10353,
 7487,
 8218,
 9888,
 10456,
 7656,
 6986,
 8439,
 8732,
 11762,
 10942,
 9592,
 8682,
 9508,
 7961,
 10636,
 9575,
 10046,
 10274,
 7176,
 8545,
 11052,
 10415,
 10792,
 11854,
 11092,
 11839,
 11164,
 9610,
 4383,
 11061,
 9456,
 11733,
 10972,
 8223,
 11899,
 8997,
 8050,
 11660,
 7720,
 7830,
 10930,
 6576,
 11165,
 5291,
 11280,
 10636,
 10694,
 8281,
 6910,
 7028,
 8457,
 7737,
 8990,
 7719,
 9593,
 9651,
 7929,
 11139,
 10971,
 9665,
 7275,
 8051,
 5572,
 6525,
 11348,
 4678,
 11348,
 7896,
 9267,
 10625,
 11475,
 10985,
 9360,
 9067,
 9146,
 9568,
 9924,
 11127,
 9333,
 8332,
 8625,
 8290,
 10211,
 10028,
 9231,
 10961,
 11660,
 9637,
 9578,
 11597,
 10952,
 8748,
 6162,
 8669,
 8669,
 9321,
 10953,
 9633,
 11715,
 5403,
 11805,
 10527,
 10754,
 7954,
 7543,
 9530,
 10641,
 10700,
 11653,
 9630,
 5291,
 11416,
 9986,
 8807,
 11092,
 10328,
 11149,
 9518,
 10714,
 10905,
 11081,
 10774,
 9846,
 8665,
 8003,
 8480,
 10994,
 11387,
 11805,
 7372,
 8919,
 8977,
 9829,
 9453,
 9063,
 7714,
 9737,
 10710,
 9215,
 11238,
 10255,
 8933,
 11139,
 7222,
 8534,
 9988,
 11781,
 8974,
 11731,
 9085,
 10639,
 11076,
 9537,
 10808,
 9430,
 10356,
 9026,
 9490,
 9490,
 9490,
 9490,
 9549,
 4894,
 7943,
 8237,
 9747,
 8308,
 8168,
 9246,
 11445,
 11386,
 11283,
 8065,
 11540,
 8205,
 9517,
 9133,
 10221,
 6588,
 10767,
 8749,
 9808,
 10285,
 9416,
 6922,
 11303,
 6715,
 9806,
 7365,
 11762,
 8496,
 9442,
 7536,
 10461,
 7536,
 7243,
 9654,
 11219,
 11629,
 11504,
 7374,
 6880,
 11168,
 9321,
 11736,
 11377,
 10344,
 9464,
 12077,
 11181,
 11298,
 11576,
 9832,
 9472,
 7994,
 11622,
 7877,
 11270,
 8287,
 11270,
 11824,
 9536,
 7685,
 10322,
 9482,
 11650,
 10830,
 8315,
 8022,
 11416,
 9510,
 3717,
 9149,
 9801,
 10696,
 11231,
 7896,
 10380,
 4651,
 11329,
 10977,
 10801,
 6740,
 8862,
 9677,
 7111,
 7111,
 7814,
 7515,
 7984,
 10366,
 5543,
 7984,
 7515,
 8477,
 10706,
 8229,
 11811,
 11595,
 9867,
 11118,
 9970,
 8574,
 8281,
 10656,
 8574,
 7321,
 7028,
 10894,
 11486,
 11582,
 10821,
 7837,
 7631,
 8229,
 11167,
 9144,
 7357,
 8336,
 10677,
 8295,
 9607,
 9255,
 11082,
 9918,
 8416,
 8313,
 6795,
 9778,
 10188,
 8341,
 9587,
 8099,
 8458,
 9198,
 7593,
 11305,
 9189,
 10552,
 9130,
 10911,
 4680,
 7785,
 11280,
 6816,
 9339,
 8502,
 6570,
 9077,
 10397,
 10983,
 10807,
 7823,
 7795,
 8627,
 6811,
 10571,
 7785,
 7125,
 8195,
 10827,
 11110,
 4975,
 8310,
 10527,
 8980,
 8766,
 11542,
 8207,
 10263,
 10138,
 7614,
 7907,
 9688,
 11198,
 7861,
 7928,
 9482,
 7825,
 11453,
 7931,
 11622,
 10669,
 7073,
 7484,
 8796,
 7366,
 8737,
 8737,
 8737,
 10225,
 11696,
 8361,
 11009,
 11485,
 8764,
 7869,
 7576,
 10278,
 11569,
 8640,
 8346,
 7041,
 8688,
 7103,
 8096,
 5081,
 4664,
 8054,
 10541,
 6553,
 7672,
 7496,
 8026,
 6804,
 9662,
 9369,
 9662,
 11509,
 7405,
 7405,
 7054,
 8366,
 10797,
 10225,
 11245,
 3615,
 6600,
 10419,
 8730,
 8967,
 11273,
 8308,
 8216,
 9462,
 8685,
 10924,
 10865,
 10810,
 7413,
 7823,
 10142,
 8696,
 11727,
 11492,
 6787,
 9704,
 7877,
 7877,
 9130,
 10391,
 10508,
 11135,
 10938,
 5200,
 11647,
 5234,
 7323,
 7999,
 11487,
 11646,
 11236,
 9564,
 4924,
 10297,
 11015,
 10429,
 9226,
 9168,
 8875,
 9032,
 9501,
 8552,
 9702,
 8604,
 9079,
 10109,
 8203,
 9439,
 8662,
 8252,
 10567,
 9611,
 8475,
 8029,
 8667,
 10345,
 9052,
 7865,
 6904,
 8748,
 8931,
 7971,
 9224,
 9283,
 8280,
 7523,
 8131,
 9463,
 11142,
 9204,
 10465,
 8407,
 11638,
 10590,
 10992,
 8903,
 11423,
 10170,
 11075,
 10884,
 10757,
 10212,
 9722,
 9370,
 8084,
 7905,
 10771,
 9435,
 9398,
 7008,
 11178,
 5696,
 6811,
 9104,
 9686,
 10510,
 4594,
 9249,
 11233,
 9751,
 7186,
 9751,
 9004,
 9054,
 7631,
 12056,
 8613,
 8834,
 8340,
 11207,
 6595,
 11536,
 7401,
 7905,
 9643,
 5883,
 11725,
 10904,
 9333,
 9626,
 11842,
 9803,
 8674,
 4914,
 7421,
 5933,
 7727,
 11380,
 8045,
 8186,
 11345,
 10741,
 8334,
 9789,
 11391,
 9580,
 7229,
 7053,
 10984,
 6985,
 8590,
 11008,
 10248,
 11069,
 8487,
 9991,
 4266,
 11027,
 11789,
 9414,
 10613,
 9293,
 10710,
 9402,
 5634,
 8345,
 11654,
 11742,
 10671,
 6298,
 10168,
 10645,
 10418,
 6533,
 8713,
 8655,
 6148,
 9016,
 4720,
 9309,
 11390,
 8949,
 7670,
 9232,
 10353,
 11255,
 8958,
 7888,
 9435,
 5645,
 8710,
 8230,
 9894,
 11624,
 9739,
 8694,
 10659,
 9046,
 8318,
 6836,
 7898,
 7892,
 11932,
 9386,
 11320,
 9238,
 4591,
 11320,
 12066,
 10901,
 10261,
 8949,
 8363,
 9259,
 12028,
 11563,
 10836,
 9097,
 9038,
 8767,
 9109,
 10674,
 11540,
 9948,
 10566,
 7524,
 9600,
 9483,
 9411,
 8517,
 9771,
 8132,
 7791,
 9001,
 11298,
 4181,
 11988,
 11303,
 10788,
 10927,
 10403,
 10403,
 8615,
 11683,
 9995,
 9009,
 9009,
 8715,
 6982,
 9810,
 12251,
 9665,
 8594,
 11577,
 9258,
 7052,
 10795,
 10749,
 9136,
 9149,
 9476,
 10372,
 10614,
 7605,
 7605,
 10529,
 6351,
 7312,
 10117,
 9346,
 8230,
 9190,
 9489,
 10618,
 10618,
 11336,
 11036,
 10253,
 7870,
 11205,
 11669,
 9763,
 11220,
 ...]

In [107]:
df_sub['Purchase'] = Predict_
df_sub.to_csv('sample_submission_V9Inaty.csv')

In [ ]:
for i in Test_file_predict:
    if i < 0:
        print(i)

In [32]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import InputLayer, Dense 
from keras.optimizers import SGD

Using TensorFlow backend.
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\envs\test_env\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [33]:
input_neurons = train_x.shape[1]

In [34]:
input_neurons

8

In [51]:
output_neurons =1
number_of_hidden_layers = 3
neuron_hidden_layer_1 = 10
neuron_hidden_layer_2 = 5

In [52]:
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
##model.add(Dense(units=neuron_hidden_layer_3, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [53]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                90
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 6
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [54]:
model.compile(loss='mean_squared_error',optimizer='Adam',metrics=['mean_absolute_error'])

In [55]:
model_history = model.fit(train_x, train_y, validation_data=(test_x, test_y), epochs=10)

Train on 412551 samples, validate on 137517 samples
Epoch 1/10
412551/412551 [==============================] - 54s 130us/step - loss: 37062354.1892 - mean_absolute_error: 4730.9951 - val_loss: 27555236.6975 - val_mean_absolute_error: 4097.5293
Epoch 2/10
412551/412551 [==============================] - 55s 133us/step - loss: 26092432.0550 - mean_absolute_error: 3978.5696 - val_loss: 24890660.2782 - val_mean_absolute_error: 3855.5527
Epoch 3/10
412551/412551 [==============================] - 61s 148us/step - loss: 23706169.9221 - mean_absolute_error: 3772.8030 - val_loss: 22897637.0309 - val_mean_absolute_error: 3692.1558
Epoch 4/10
412551/412551 [==============================] - 56s 137us/step - loss: 22381603.6631 - mean_absolute_error: 3640.8486 - val_loss: 22201761.3753 - val_mean_absolute_error: 3612.4326
Epoch 5/10
412551/412551 [==============================] - 58s 140us/step - loss: 22060452.5834 - mean_absolute_error: 3597.2837 - val_loss: 22177588.2551 - val_mean_absolute_error: 3577.9841
Epoch 6/10
412551/412551 [==============================] - 48s 117us/step - loss: 22030387.0542 - mean_absolute_error: 3591.5432 - val_loss: 22111176.0939 - val_mean_absolute_error: 3592.6880
Epoch 7/10
412551/412551 [==============================] - 61s 147us/step - loss: 22029269.2232 - mean_absolute_error: 3589.5566 - val_loss: 22112261.0944 - val_mean_absolute_error: 3613.0376
Epoch 8/10
412551/412551 [==============================] - 63s 153us/step - loss: 22029085.7432 - mean_absolute_error: 3590.7700 - val_loss: 22112569.1913 - val_mean_absolute_error: 3590.0972
Epoch 9/10
412551/412551 [==============================] - 54s 132us/step - loss: 22028625.7698 - mean_absolute_error: 3589.6658 - val_loss: 22111089.1324 - val_mean_absolute_error: 3607.6365
Epoch 10/10
412551/412551 [==============================] - 51s 123us/step - loss: 22029840.6976 - mean_absolute_error: 3589.8943 - val_loss: 22122711.4232 - val_mean_absolute_error: 3620.8875

In [56]:
prediction = model.predict(train_x)

In [57]:
prediction

array([[ 8090.2637],
       [12174.951 ],
       [10568.137 ],
       ...,
       [ 7584.674 ],
       [10439.338 ],
       [ 9731.621 ]], dtype=float32)

In [58]:
Prediction_test = model.predict(df_test)

In [111]:
Pre

[11469,
 11196,
 8865,
 9568,
 10026,
 11750,
 11721,
 11693,
 6964,
 8985,
 11697,
 9614,
 9671,
 9671,
 6905,
 10936,
 5278,
 9554,
 8603,
 11747,
 9586,
 11668,
 12057,
 11249,
 9167,
 8998,
 11651,
 11651,
 10947,
 10891,
 9147,
 9428,
 9541,
 11282,
 3379,
 9402,
 8530,
 11291,
 10246,
 7150,
 11192,
 10762,
 12507,
 6943,
 8209,
 8831,
 5138,
 8660,
 10433,
 8858,
 8300,
 9316,
 9578,
 12338,
 12338,
 12338,
 11187,
 7033,
 11392,
 10710,
 11161,
 5196,
 8775,
 11465,
 11634,
 11099,
 10649,
 11527,
 5673,
 11188,
 9622,
 9842,
 10021,
 11766,
 8946,
 9647,
 11504,
 6887,
 11195,
 11139,
 12086,
 8512,
 9759,
 8663,
 8945,
 11312,
 8301,
 9202,
 9568,
 7851,
 9246,
 9091,
 6586,
 12101,
 9118,
 7570,
 10862,
 10639,
 7943,
 10729,
 9635,
 11323,
 11718,
 8369,
 9039,
 8026,
 9573,
 8251,
 9052,
 8884,
 5648,
 8940,
 8718,
 7769,
 7882,
 7769,
 9775,
 8597,
 6487,
 9468,
 8133,
 7148,
 11425,
 11763,
 9181,
 9350,
 10238,
 6186,
 6580,
 6355,
 9251,
 9567,
 10495,
 12187,
 7101,
 9915,
 11130,
 12087,
 8739,
 8345,
 5390,
 9161,
 9302,
 8937,
 11262,
 8337,
 6170,
 11647,
 7039,
 8278,
 11993,
 11655,
 11205,
 7379,
 11703,
 11110,
 6890,
 7987,
 7713,
 9317,
 9379,
 7940,
 11739,
 11479,
 9461,
 11143,
 11143,
 10273,
 10835,
 9570,
 11447,
 12512,
 8343,
 8606,
 10744,
 9450,
 9450,
 10166,
 7539,
 10747,
 7652,
 9654,
 11455,
 11853,
 9529,
 11021,
 10675,
 8784,
 11542,
 6741,
 8683,
 7951,
 8382,
 9509,
 9087,
 6666,
 10148,
 8488,
 8553,
 12272,
 9158,
 9439,
 5669,
 9809,
 9178,
 12339,
 12098,
 9384,
 9567,
 9203,
 10197,
 10766,
 8656,
 10089,
 11605,
 11830,
 8780,
 7854,
 6363,
 8642,
 7781,
 11299,
 7777,
 11075,
 9513,
 10683,
 8615,
 11232,
 9780,
 11260,
 9910,
 11189,
 7013,
 9177,
 9233,
 8995,
 11320,
 6390,
 9163,
 7447,
 6485,
 11611,
 11161,
 9730,
 9984,
 9014,
 10787,
 9296,
 8264,
 7249,
 7474,
 11867,
 5377,
 7122,
 10731,
 4823,
 6905,
 9745,
 9350,
 11376,
 10421,
 9730,
 8874,
 10478,
 9212,
 10760,
 11126,
 9268,
 9212,
 9752,
 12084,
 10528,
 8192,
 8614,
 10140,
 9803,
 11538,
 8795,
 10990,
 11241,
 8578,
 8916,
 9430,
 7770,
 9092,
 7134,
 6981,
 11121,
 8926,
 11290,
 10502,
 11065,
 8326,
 7646,
 9386,
 8851,
 10399,
 10512,
 6573,
 6179,
 8247,
 11146,
 5293,
 8669,
 12049,
 8532,
 10555,
 11453,
 12249,
 6658,
 10403,
 11494,
 10152,
 6410,
 11992,
 11458,
 11823,
 11654,
 9626,
 10032,
 9144,
 11227,
 7804,
 9396,
 9493,
 9437,
 9437,
 7833,
 5723,
 11125,
 12084,
 10628,
 11157,
 9821,
 8674,
 10531,
 7633,
 8323,
 9938,
 10689,
 7875,
 7135,
 8716,
 8998,
 11853,
 11064,
 9655,
 8690,
 9550,
 8002,
 10675,
 9757,
 10291,
 10346,
 7377,
 8677,
 11209,
 10683,
 10879,
 11971,
 11239,
 11975,
 11403,
 9828,
 4529,
 11254,
 9572,
 11860,
 11128,
 8342,
 12104,
 9050,
 8295,
 11863,
 7930,
 7913,
 11036,
 6647,
 11261,
 5410,
 11370,
 10751,
 10807,
 8381,
 7002,
 7115,
 8550,
 7892,
 9158,
 8014,
 9754,
 9810,
 8093,
 11301,
 11160,
 9805,
 7385,
 8302,
 5763,
 6720,
 11560,
 4863,
 11560,
 8099,
 9477,
 10664,
 11538,
 11062,
 9404,
 9122,
 9292,
 9704,
 10174,
 11412,
 9524,
 8411,
 8693,
 8366,
 10478,
 10282,
 9394,
 11139,
 11863,
 9837,
 9780,
 11853,
 11233,
 8894,
 6189,
 8721,
 8721,
 9368,
 11095,
 9745,
 11827,
 5473,
 11875,
 10721,
 10919,
 8105,
 7711,
 9683,
 10852,
 10909,
 11865,
 9839,
 5410,
 11515,
 10079,
 8925,
 11261,
 10404,
 11192,
 9729,
 10903,
 10999,
 11168,
 10905,
 10013,
 8903,
 8115,
 8530,
 11090,
 11522,
 11850,
 7470,
 9017,
 9074,
 9881,
 9653,
 9246,
 7830,
 9763,
 10773,
 9254,
 11280,
 10286,
 9029,
 11334,
 7280,
 8603,
 10234,
 11954,
 9146,
 11830,
 9314,
 10890,
 11238,
 9625,
 10924,
 9517,
 10554,
 9228,
 9764,
 9764,
 9764,
 9764,
 9820,
 5122,
 8216,
 8498,
 9791,
 8340,
 8240,
 9337,
 11532,
 11475,
 11533,
 8297,
 11675,
 8326,
 9648,
 9264,
 10305,
 6648,
 10869,
 9034,
 10124,
 10392,
 9683,
 7165,
 11496,
 6882,
 9939,
 7491,
 11890,
 8644,
 9572,
 7659,
 10613,
 7659,
 7377,
 9737,
 11520,
 11914,
 11774,
 7453,
 7070,
 11375,
 9518,
 11948,
 11582,
 10495,
 9617,
 12204,
 11254,
 11366,
 11768,
 9912,
 9547,
 8272,
 11902,
 8160,
 11565,
 8554,
 11565,
 11907,
 9600,
 7729,
 10537,
 9799,
 11834,
 11046,
 8486,
 8204,
 11494,
 9581,
 3713,
 9200,
 9847,
 10748,
 11282,
 7934,
 10624,
 4708,
 11433,
 11095,
 10926,
 6819,
 9114,
 9734,
 7145,
 7145,
 7844,
 7606,
 8056,
 10448,
 5608,
 8056,
 7606,
 8524,
 10809,
 8277,
 12111,
 11694,
 9958,
 11138,
 10033,
 8662,
 8381,
 10745,
 8662,
 7396,
 7115,
 11039,
 11783,
 11635,
 10903,
 7892,
 7673,
 8335,
 11434,
 9408,
 7479,
 8427,
 10874,
 8482,
 9804,
 9467,
 11216,
 10075,
 8610,
 8503,
 6882,
 9892,
 10286,
 8429,
 9667,
 8176,
 8542,
 9225,
 7621,
 11433,
 9351,
 10645,
 9238,
 11011,
 4711,
 7806,
 11344,
 6870,
 9492,
 8618,
 6606,
 9138,
 10489,
 11052,
 10883,
 7872,
 7849,
 8726,
 6849,
 10648,
 7935,
 7260,
 8330,
 11002,
 11216,
 5054,
 8402,
 10644,
 9097,
 8960,
 11620,
 8272,
 10346,
 10205,
 7664,
 7946,
 9923,
 11264,
 7903,
 8039,
 9614,
 7868,
 11498,
 8087,
 11879,
 10923,
 7308,
 7702,
 9025,
 7590,
 8968,
 8968,
 8968,
 10460,
 11926,
 8578,
 11181,
 11667,
 8790,
 7889,
 7608,
 10535,
 11771,
 8716,
 8508,
 7109,
 8778,
 7164,
 8315,
 5190,
 4768,
 8133,
 10692,
 6776,
 7749,
 7580,
 8153,
 6984,
 9854,
 9572,
 9854,
 11711,
 7426,
 7426,
 7088,
 8411,
 10899,
 10377,
 11447,
 3631,
 6701,
 10555,
 9025,
 9059,
 11315,
 8353,
 8420,
 9658,
 8870,
 10990,
 10934,
 10989,
 7649,
 8043,
 10349,
 8802,
 11945,
 11720,
 6992,
 9919,
 7960,
 7960,
 9226,
 10520,
 10632,
 11197,
 11028,
 5318,
 11885,
 5238,
 7349,
 8168,
 11670,
 11868,
 11474,
 9786,
 5016,
 10335,
 11066,
 10503,
 9265,
 9209,
 8928,
 9183,
 9633,
 8698,
 9969,
 8701,
 9250,
 10336,
 8423,
 9542,
 8754,
 8360,
 10668,
 9775,
 8622,
 8085,
 8886,
 10360,
 9318,
 8136,
 7151,
 8897,
 9094,
 8109,
 9376,
 9432,
 8509,
 7551,
 8236,
 9752,
 11310,
 9292,
 10586,
 8492,
 11823,
 10720,
 11208,
 9097,
 11492,
 10225,
 11235,
 11010,
 10833,
 10325,
 9890,
 9553,
 8212,
 7985,
 10883,
 9531,
 9595,
 7148,
 11340,
 5825,
 6987,
 9171,
 9909,
 10648,
 4655,
 9354,
 11307,
 9931,
 7342,
 9931,
 9047,
 9298,
 7673,
 12322,
 8877,
 9038,
 8505,
 11403,
 6718,
 11671,
 7491,
 8030,
 9879,
 6081,
 11962,
 11173,
 9466,
 9748,
 11981,
 9909,
 8783,
 4985,
 7517,
 6026,
 7758,
 11609,
 8260,
 8280,
 11459,
 10905,
 8488,
 9984,
 11490,
 9882,
 7465,
 7296,
 11093,
 7160,
 8764,
 11085,
 10388,
 11176,
 8528,
 10095,
 4327,
 11268,
 12000,
 9636,
 10755,
 9405,
 10890,
 9518,
 5692,
 8532,
 11908,
 11885,
 10769,
 6363,
 10246,
 10724,
 10527,
 6588,
 8782,
 8726,
 6194,
 9320,
 4986,
 9601,
 11683,
 9235,
 7772,
 9517,
 10615,
 11543,
 9053,
 7984,
 9531,
 5882,
 8897,
 8495,
 10156,
 11900,
 9827,
 8813,
 10782,
 9150,
 8517,
 7019,
 7967,
 8009,
 12110,
 9458,
 11522,
 9440,
 4769,
 11522,
 12261,
 10972,
 10484,
 9161,
 8605,
 9257,
 12241,
 11783,
 10918,
 9251,
 9195,
 8904,
 9234,
 10798,
 11721,
 10092,
 10836,
 7769,
 9787,
 9674,
 9715,
 8815,
 10081,
 8315,
 7986,
 9089,
 11579,
 4248,
 12147,
 11538,
 11096,
 11069,
 10497,
 10497,
 8696,
 11886,
 10335,
 9061,
 9061,
 8780,
 7008,
 10010,
 12458,
 9805,
 8820,
 11830,
 9505,
 7103,
 10867,
 10982,
 9350,
 9200,
 9628,
 10508,
 10761,
 7618,
 7618,
 10573,
 6352,
 7337,
 10208,
 9467,
 8408,
 9392,
 9541,
 10666,
 10666,
 11398,
 11088,
 10471,
 8080,
 11428,
 11774,
 9860,
 11398,
 ...]

In [108]:
Pre = []

for i in Prediction_test:
    re = math.floor(i)
    Pre.append(re)

In [109]:
df_sub['Purchase'] = Pre
df_sub.to_csv('sample_submission_V9Inaty.csv')